# ==============================
# Maven / Gradle / Build
# ==============================
target/
build/
out/
.mvn/
mvnw*
!.mvn/wrapper/maven-wrapper.jar

# ==============================
# STS / Eclipse
# ==============================
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans/
.sts4-cache/
.metadata/

# ==============================
# IntelliJ IDEA
# ==============================
.idea/
*.iws
*.iml
*.ipr

# ==============================
# NetBeans
# ==============================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# ==============================
# VS Code
# ==============================
.vscode/

# ==============================
# System Files
# ==============================
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# ==============================
# Logs and temporary files
# ==============================
*.log
*.tmp
*.swp