# Maven build directory
target/
.mvn
mvnw*
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

# IDE files
### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
.project
.classpath
.settings/

### STS ###
.apt_generated
.factorypath
.springBeans
.sts4-cache
.metadata

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs
hs_err_pid*

# Local configuration files
.DS_Store
.AppleDouble
.LSOverride

# Help file
HELP.md

# Thumbnails
._*
