server:
  port: 8080

spring:
  datasource:
    url: ${DATABASE_URL:jdbc:mysql://localhost:3306/envantra_app?allowPublicKeyRetrieval=true&useSSL=false&createDatabaseIfNotExist=true&useSSL=false&serverTimezone=UTC}
    username: ${DATABASE_USERNAME:root}
    password: ${DATABASE_PASSWORD:root}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    open-in-view: false
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO:validate}
    properties:
      hibernate:
        jdbc:
          time_zone: Europe/Istanbul
        format_sql: true
    show-sql: false
  sql:
    init:
      platform: mysql
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
  jackson:
    serialization:
      write-dates-as-timestamps: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_SENDER_USERNAME:stokify.destek@gmail.com}
    password: ${MAIL_SENDER_PASSWORD:hfkj bqhf uibj itkl}
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            protocols: TLSv1.2
            trust: smtp.gmail.com
          timeout: 30000

security:
  secretKey: ${JWT_SECRET_KEY:mZ1p8Q9kT+L3s5vR1w6nV7yXf2aU0h3JqP4s8bYtQ1w=}

envantra:
  files:
    storage:
      allowed-types:
        - application/pdf
        - image/jpeg
        - image/png
      max-file-size: 50MB

invoice:
  base-url: ${INVOICE_BASE_URL:https://api.fatura.net.tr}
  client_id: ${INVOICE_CLIENT_ID:xfatura_App}
  tenant: ${INVOICE_TENANT:TEST}

document:
  pdf-path: /pdfs
  image-path: /images

initialize-config:
  value: ${INITIALIZE_VALUE:none}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when-authorized
  server:
    port: 8080

logging:
  file:
    name: ${LOG_FILE:/}
  level:
    root: INFO
    com.project.envantra: INFO
    org.springframework.security: INFO